@use '../../styles/utils' as *;

.close {
  display: flex;
  align-items: center;
  padding: var(--2) var(--2) var(--4) var(--8);
  color: var(--c-white);
  background: var(--c-black);

  @include mobile {
    width: 100%;
    padding: 0.15rem 1rem 0.2rem;
    justify-content: space-between;
  }
}

.close svg {
  width: 1.5rem;
  transition: all 0.5s var(--default-ease);
}

@include hover {
  .close:hover svg {
    transform: rotate(180deg);
  }
}
