@use "../../styles/utils" as *;

.inputWrap {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  color: var(--c-black);
  font-family: var(--f-peta-med);
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -0.055rem;
  padding: 0.3rem 0;

  @include mobile {
    padding: 0 0 0.5rem;
    font-size: 0.9375rem;
    letter-spacing: -0.0413rem;
  }
}

.input::placeholder {
  color: var(--c-black);
  font-family: var(--f-peta-med);
  opacity: 0.3;
}
