@use "../../styles/utils" as *;

.selectWrap {
  position: relative;
  width: 18.75rem;

  @include mobile {
    width: 100%;
  }
}

.select {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    background: #e7e7e7;
    padding: 0.75rem 1rem;
  }
}

.selected {
  display: flex;
  align-items: center;
  gap: var(--8);

  @include mobile {
    justify-content: space-between;
    width: 100%;
  }
}

.arrow {
  width: 0.625rem;
  transition: all 0.3s var(--default-ease);
  display: inline-flex;
  position: relative;
  top: 0.125rem;

  @include mobile {
    top: 0;
  }
}

.decor {
  font-size: 2.1875rem;
  line-height: 128%;
  font-family: var(--f-peta-reg);
  opacity: 0.2;
  transition: all 0.3s var(--default-ease);

  @include mobile {
    display: none;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
  z-index: 10;
  max-height: 18.75rem;
  padding: var(--8);
  overflow-y: auto;
  background: linear-gradient(180deg, #f4f4f4 24%, #fff 100%);
  box-shadow:
    0px 7.9375rem 2.1875rem 0px rgba(0, 0, 0, 0),
    0px 5.0625rem 2rem 0px rgba(0, 0, 0, 0.01),
    0px 2.875rem 1.6875rem 0px rgba(0, 0, 0, 0.05),
    0px 1.25rem 1.25rem 0px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  gap: var(--4);

  @include mobile {
    width: 100%;
    left: 0;
    transform: none;
    padding: 0;
    background: none;
    gap: 0;
  }
}

.option {
  padding: var(--8) 0.625rem var(--12);
  cursor: pointer;
  transition: all 0.3s var(--default-ease);
  text-align: center;

  @include mobile {
    padding: 0.75rem 1rem;
    background: var(--c-white);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.optionCheck {
  display: none;

  @include mobile {
    display: block;
    opacity: 0;
    width: 0.75rem;
  }
}

.selectedOption {
  background: var(--c-yellow);
}

.selectedOption .optionCheck {
  opacity: 1;
}

@include hover {
  .option:hover {
    background: #e7e7e7;
  }
}

.opened .decor {
  opacity: 1;
}

.opened .arrow {
  transform: rotate(180deg);
}

.opened .select {
  @include mobile {
    background: var(--c-white);
    box-shadow: inset 0 0 0 0.0625rem var(--c-black);
  }
}
