@use '../../styles/utils' as *;

.videoMedia {
  height: 100%;
  overflow: hidden;
  position: relative;
  color: var(--c-white);
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--c-black);

  @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  @include mobile {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: unset;
  }
}

.videoControls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  opacity: 0;
  height: 5rem;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.5rem;
}

.videoContainer:not(.paused) .videoControls {
  opacity: 1;
}

@include hover {
  .videoContainer:hover .videoControls {
    opacity: 1;
  }
}

.playPause {
  cursor: pointer;
  transition: all 0.3s ease;
}

.playIcon,
.pauseIcon {
  width: 3.0625rem;
  height: auto;
  display: block;
}

.pauseIcon {
  display: none;
}

.paused .playIcon {
  display: none;
}

.videoContainer:not(.paused) .pauseIcon {
  display: none;
}

@include hover {
  .paused:hover .pauseIcon {
    display: block;
  }
}

.muteBtn {
  cursor: pointer;
}

.volume {
  display: flex;
  align-items: center;
  position: relative;
  top: -0.125rem;
}

.volHigh,
.volLow,
.volMuted {
  width: 1.5rem;
  height: auto;
  display: none;
}

.videoContainer[data-volume-level='high'] .volHigh {
  display: block;
}

.videoContainer[data-volume-level='low'] .volLow {
  display: block;
}

.videoContainer[data-volume-level='muted'] .volMuted {
  display: block;
}

.volSliderWrap {
  position: relative;
}

.volSlider {
  width: 0;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: rotate(-90deg) scaleX(0);
  cursor: pointer;
  appearance: none;
  height: 0.1875rem;
  background: var(--c-white);
  outline: none;
  transition: all 0.3s ease;
}

@include hover {
  .volume:hover .volSlider {
    width: 6.25rem;
    transform: rotate(-90deg) scaleX(1);
  }
}

.duration {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.timeline {
  flex: 0 0 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 0.5rem;
  border-radius: 0.625rem;
}

.timelineEl {
  height: 0.25rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  transition: all 0.3s ease;
  border-radius: 0.625rem;
}

.timelineEl::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position, 0) * 100%);
  background: var(--c-white);
  border-radius: 0.625rem;
}

.thumb {
  --scale: 0;
  position: absolute;
  height: 200%;
  top: -50%;
  transform: translateX(-50%) scale(var(--scale));
  left: calc(var(--progress-position, 0) * 100%);
  background: var(--c-white);
  border-radius: 50%;
  transition: transform 0.3s ease;
  aspect-ratio: 1 / 1;
}

.videoPlayArea {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
